:root {
  --yellow: #ffc300;
  --purple: #581845;
  --pink: #c70039;
  --salmon: #ff5733;
}

body {
  margin: 0px;
  background-image: url(./Images/dotty-background.jpg);
  background-size: 300px 300px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-face {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: var(--purple);
  border: 5px solid var(--yellow);
  transform: translateX(-5px);
}
.hand {
  position: absolute;
  height: 50%;
  width: 4px;
  background-color: var(--pink);
  border-radius: 5px;
  left: 50%;
  transform-origin: center 100%;
  transform: translate(-50%) rotate(0deg);
}
.hand.second-hand {
  width: 2px;
  background-color: var(--salmon);
}
.clock-center {
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: var(--yellow);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
